

<ion-header>
  <ion-toolbar>
    <ion-title>details-eleve</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-card  >
    <img src="{{ficheInfos.image}}" />
    <ion-card-header>
      <ion-card-subtitle>Classe: {{this.ficheInfos.classe}}</ion-card-subtitle>
      <ion-card-title>{{this.ficheInfos.nom_comlet}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    
    </ion-card-content>
  </ion-card>


<ion-card>
  <ion-card-header>
   
    <ion-card-title >Informations générales </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <span class="titre"> Age :</span> {{this.ficheInfos.age}} <br>
     <span class="titre">Responsable:</span>  {{this.ficheInfos.responable}} <br>
     <span class="titre">Ecole:</span>  {{this.ficheInfos.ecole}} <br>
     <span class="titre">Moyenne: </span>{{this.ficheInfos.moyenne}} <br>
  </ion-card-content>
</ion-card>

<ion-card>
 
  <ion-card-header>
   
    <ion-card-title>Troubles </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <span class="titre"> Type : </span> {{this.ficheInfos.trouble.type}} <br>
    <span class="titre">Date d'apparition :</span>  {{this.ficheInfos.trouble.date_debut}} <br>
    <span class="titre"> Propopositions psychologiques :</span> 
    <div  *ngFor="let prop of this.ficheInfos.trouble.proposition_psychologue">
     {{prop}} 
  </div>
  <span class="titre"> Observation enseignant :</span>
 
    <div class="commentaires" >
      <hr width="100%"  style=" background-color:  #00424746 !important; ">
      <ion-row class="ion-no-padding ion-no-margin ">
       <ion-col size="2"  class="ion-no-padding ion-no-margin ">
         <img class="imgProfilPoster" src="../../../assets/img/Image1.png" />
       </ion-col>
       <ion-col size="9">
         <p class="nomProfil"  >Jihen Bel Gasem</p>
         <p class="commentaire"> Toujours en colère  </p>
       </ion-col>
   </ion-row> 
  
  </div>
  <hr width="100%"  style=" background-color:  #00424746 !important; ">
  <div class="commentaires"  *ngFor="let prop of this.ficheInfos.trouble.observation_enseignant  ">
   
    <ion-row class="ion-no-padding ion-no-margin ">
     <ion-col size="2"  class="ion-no-padding ion-no-margin ">
       <img class="imgProfilPoster" src="../../../assets/img/oumaima.jpg" />
     </ion-col>
     <ion-col size="9">
       <p class="nomProfil"  >{{nom}}</p>
       <p class="commentaire"> {{prop}}  </p>
     </ion-col>
 </ion-row> 
 <hr width="100%"  style=" background-color:  #00424746 !important; ">
</div>
  </ion-card-content> 
</ion-card>

<ion-button expand="block" fill="solid" style="--background:#D36C6C;margin: 10px;"(click)="openModal()">Ajouter une observation</ion-button>
<!-- <ion-button expand="block" (click)="openModal2()">Ajouter une proposition</ion-button> -->
<ion-button expand="block" fill="solid" style="--background:#D36C6C;margin: 10px;" (click)="openModal2()">Ajouter une proposition</ion-button>




</ion-content>