ion-tabs, ion-toolbar, ion-header{
    --ion-background-color: #ffffff !important;
    --background: #ffffff!important;
  color: #004247;
  }
  
  
  ion-content{
    --ion-background-color: #004247 !important;
  }
  
  ion-tab-button {
  
    color: #004247 !important;
  }
  ion-tab-button{
    ion-img{
        width: 80px;
       height: 180px;
    }
  }
  .titreEntete{
      background-color: #ffffffbd;
      height: 40px;
      margin-top: -22px;
     padding-left: 10px;
      color: #004247;
  }
  

  // Slider Style START 
.custon-nav{
  height: 48px;
  width: 20px;
  cursor: pointer;

  vertical-align: middle;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

}
.prev-icon-custom{
  background: url(https://freakyjolly.com/demo/jquery/OwlCarousel2/nav-icon.png) no-repeat scroll 0px 0px;
 
}
.prev-icon-custom.disabled{
  opacity: 0.4;
  cursor: default;
}
.next-icon-custom{
  background: url(https://freakyjolly.com/demo/jquery/OwlCarousel2/nav-icon.png) no-repeat scroll -32px 0px;
}
.next-icon-custom.disabled{
  opacity: 0.4;
  cursor: default;
}

.slider-nav{

  ion-icon{
      height: 100%;     
  }
}

.slide-text{
  position: absolute;
  color: white;
  bottom: 30px;
}

// Slider Style STOPCopy

.infos{
  ion-card{
    border-radius: 18px;
      --background: white !important;
      ion-card-title{
        font-size: 35px;
        color: #004247 !important;

      }
      p{
        color: #004247 !important;
      }
  }
  ion-icon{
    width: 50px;
  }
}
 .actualite{
   ion-card{
    border-radius: 18px;
    --background: white !important;
   }
   h2{
    font-size: 35px;
     color: white;
   }
   .imageActu{
    height: 70px;
    border-radius: 12px;
   }
 }
 .activite{
  .act{
   border-radius: 12px;
    background-color: white !important;
    font-size: 14px;
padding-bottom: 2px;
   }
   .actIcone{
     margin: 10px 18px 0px 18px;
   }
   .act:hover{
    background-color:#D36C6C  !important;
   }
 }
 .localisation{
  h2{
    font-size: 35px;
    color: white;
  }
 }

 .avis{
  h2{
    font-size: 35px;
    color: white;
  }
  ion-card{
    border-radius: 12px;
    background-color: white !important;
  }
  input{
    background-color: #70707046; 
    color: #004247;
    text-decoration: none;
   height: 70px;
  width: 220px;
   border: none;
   margin: 0 4px 4px 4px;
  }
  ion-button{
    --background: #D36C6C !important;
    color: white !important;
    margin: 0 7px 5px 7px;
  }
  .round{
    border-radius: 50%;
    background-color: #253829;
    color: white;
    width: 40px;
    height: 40px;
    font-weight: bold;
   padding-top: 10px;
  //  margin-top: 7px;
  margin: auto 0px;
  }
  span{
    font-weight: bold;
    color: #D36C6C;
    font-size: 15px;
   
  }
 }




