<ion-header>
  <ion-toolbar>
    <ion-title>
      Tour Eiffel

    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="entete">
  <ion-slides pager="true" [options]="slideOptsOne" #slideWithNav
  (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)" class="ion-no-margin ion-no-padding">
  <ion-slide *ngFor="let s of sliderOne.slidesItems">
    <img src="assets/img/{{s.id}}.jpg/">
  </ion-slide>
</ion-slides>
<div class="titreEntete ion-no-margin ion-no-padding ">
<h1 >Tour Eiffel</h1>
</div>
</div>
<div class="infos">
    <!-- adresse -->
  <ion-card>
    <ion-card-header  class="ion-text-center">
      <ion-card-title class="bold ion-text-center" style="font-family: Aldhabi ;">Adresse</ion-card-title>
    <div  style="border: 2px solid #004247; width: 40px; margin: 0 auto">

    </div>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
     <p> Champ de Mars, 5 Avenue Anatole France, 75007 Paris</p>
    
    
    </ion-card-content>
  </ion-card>

  <!-- description -->
  <ion-card>
    <ion-card-header  class="ion-text-center">
      <ion-card-title class="bold ion-text-center" style="font-family: Aldhabi ;">Description </ion-card-title>
    <div  style="border: 2px solid #004247; width: 40px; margin: 4px auto">

    </div>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
 
    

        <ion-slides pager="true" [options]="slideOptsTwo" #slideWithNav
        (ionSlideDidChange)="SlideDidChange(sliderTwo,slideWithNav2)" >
        <ion-slide *ngFor="let s of sliderTwo.slidesItems" style="padding-bottom: 24px;">
          <p> {{s.id}} </p>
        </ion-slide>
      </ion-slides>
 

    </ion-card-content>
  </ion-card>

</div>
<div class="actualite">
  <h2 class=" ion-text-center" style="font-family: Aldhabi ;">Actualités</h2>
  <div  style="border: 2px solid white; width: 40px; margin: 0 auto">
  </div>

  <ion-card>
  
      <ion-grid>
      <ion-row>
        <ion-col size="5">
          <img src="assets/img/actu1.jpg" class="imageActu" />
        </ion-col>
        <ion-col size="7">
          La tour Eiffel en voit de toutes les
          couleurs grâce à ses illuminations
           </ion-col>
      </ion-row>
      </ion-grid>

  </ion-card>
  <ion-card>
  
    <ion-grid>
    <ion-row>
      <ion-col size="5">
        <img src="assets/img/actu2.jpg" class="imageActu" />
      </ion-col>
      <ion-col size="7">
        La tour Eiffel vue du ciel depuis
        un siècle !
         </ion-col>
    </ion-row>
    </ion-grid>

</ion-card>
<ion-card>
  
  <ion-grid>
  <ion-row>
    <ion-col size="5">
      <img src="assets/img/actu3.jpg" class="imageActu" />
    </ion-col>
    <ion-col size="7">
      A quelle heure la tour Eiffel s'éclaire
      et scintille ?
     </ion-col>
  </ion-row>
  </ion-grid>

</ion-card>
</div>

<div class="activite ">
  <div  style="border: 2px solid white; width: 70px; margin: 8px auto">
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
      
           <div class="act">
          <ion-icon class="actIcone"  name="eye" size="large"></ion-icon>
          <p class="ion-text-center">Où manger </p>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="act">
          <ion-icon  class="actIcone" name="bed" size="large"></ion-icon>
          <p class="ion-text-center">Où dormir  </p>
        </div>
      </ion-col>
      <ion-col size="4">
    
        <div class="act">
          <ion-icon class="actIcone" name="restaurant-outline" size="large" ></ion-icon>
        <p class="ion-text-center" >Que faire</p>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div  style="border: 2px solid white; width: 70px; margin: 8px auto">
  </div>
</div>

<div class="localisation">
  <h2 class=" ion-text-center" style="font-family: Aldhabi ;">Localisation</h2>
  <div  style="border: 2px solid white; width: 40px; margin: 7px auto">
  </div>
<img src="assets/img/lcoalEiffel.png" >
</div>

<div class="avis">
  <h2 class=" ion-text-center" style="font-family: Aldhabi ;">Note et avis</h2>
  <div  style="border: 2px solid white; width: 40px; margin: 7px auto">
  </div>

<ion-grid>

<ion-row>

  <ion-col size="12" class="ion-align-items-center" style="margin: 0 52px; color: white;">
    4.5/5 

    <ion-icon name="star-sharp" style="color: #FFC107;"></ion-icon>
   
    <ion-icon name="star-sharp" style="color: #FFC107;"></ion-icon>
   
    <ion-icon name="star-sharp" style="color: #FFC107;"></ion-icon>
   
    <ion-icon name="star-sharp" style="color: #FFC107;"></ion-icon>
  
    <ion-icon name="star-sharp"></ion-icon>
    </ion-col>

</ion-row>
</ion-grid>

<ion-card>

  <ion-card-header>
    <ion-card-subtitle>Rédiger un avis </ion-card-subtitle>
    <ion-icon size="large" name="star-outline"></ion-icon>
    <ion-icon size="large" name="star-outline"></ion-icon>
    <ion-icon  size="large"name="star-outline"></ion-icon>
    <ion-icon size="large" name="star-outline"></ion-icon>
    <ion-icon size="large" name="star-outline"></ion-icon>
    (5/5)
  </ion-card-header>
 
 
  <input   type="text" placeholder="Partagez votre avis avec les autres ">
  <ion-button type="submit" expand="block" >Envoyer</ion-button>

</ion-card>

<ion-card>
  
  <ion-grid>
  <ion-row>
    <ion-col size="3">
     <div class="round ion-text-center" >
       4,5
     </div>
    </ion-col>
    <ion-col size="9">
      <span>MotherMash</span> <br>
      <ion-icon  name="star-outline"></ion-icon>
      <ion-icon  name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon  name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <br>
      So great to have such place in Paris!
       </ion-col>
  </ion-row>
  </ion-grid>

</ion-card>
<ion-card>
  
  <ion-grid>
  <ion-row>
    <ion-col size="3">
     <div class="round ion-text-center" >
       4,5
     </div>
    </ion-col>
    <ion-col size="9">
      <span>MotherMash</span> <br>
      <ion-icon  name="star-outline"></ion-icon>
      <ion-icon  name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon  name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <br>
      So great to have such place in Paris!
       </ion-col>
  </ion-row>
  </ion-grid>

</ion-card>
<ion-card>
  
  <ion-grid>
  <ion-row>
    <ion-col size="3">
     <div class="round ion-text-center" >
       4,5
     </div>
    </ion-col>
    <ion-col size="9">
      <span>MotherMash</span> <br>
      <ion-icon  name="star-outline"></ion-icon>
      <ion-icon  name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon  name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <br>
      So great to have such place in Paris!
       </ion-col>
  </ion-row>
  </ion-grid>

</ion-card>
</div>




</ion-content>
