<ion-header>
  <ion-toolbar>
    <ion-title style="font-size: 12px;">
      Ajouter une observation
    </ion-title>
   <ion-buttons slot="end">
     <ion-button (click)="dismissModal()">Fermer</ion-button>
   </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
<ion-card class="avis">

  <ion-card-header>
    <ion-card-subtitle>Rédiger une observation </ion-card-subtitle>
  
  </ion-card-header>
 
 
  <input [formControl]="avis" type="text" placeholder="Avez-vous une observation à rajouter "/>
  <ion-button [disabled]="avis.invalid" type="submit"  expand="block" (click)="onSubmit()" >Publier</ion-button>

</ion-card>
</ion-content>