
 <!-- menu bottom -->
 <ion-tabs >
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" style="font-size:7px">
      <ion-icon name="home-sharp"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="fiche-info" style="font-size:7px">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Infos</ion-label>
    </ion-tab-button>
   
    <ion-tab-button tab="recherche" style="font-size:7px">
      <ion-icon name="people"></ion-icon>

      <ion-label>A propos de nous</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="logout" style="font-size:7px">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label (click)='onClickDeco()'>Deconnexion</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>