
 <!-- menu bottom -->
 <ion-tabs >
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" style="font-size:7px">
      <ion-icon name="home-sharp"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="favoris" style="font-size:7px">
      <ion-icon name="heart-sharp"></ion-icon>
      <ion-label>Favoris</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profil" style="font-size:7px">
      <ion-icon name="person"></ion-icon>
      <ion-label >Profil</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="recherche" style="font-size:7px">
      <ion-icon name="search-sharp"></ion-icon>
      <ion-label>Recherche</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="logout" style="font-size:7px">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label (click)='onClickDeco()'>Deconnexion</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>