<ion-header>
  <ion-toolbar>
    <ion-title>fiches Infos</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content fullscreen>
    <ion-searchbar #search animated placeholder="Tapez un nom" style="color:#004247;--background: white" debounce="500" (ionChange)="recupNom ($event)"> </ion-searchbar>

    <ion-card  *ngFor="let ficheInfo of this.mapEnfants.values()"  (click)='onClickFiche(ficheInfo)'>
      <img src="{{ficheInfo.image}}" />
      <ion-card-header>
        <ion-card-subtitle>{{ficheInfo.classe}}</ion-card-subtitle>
        <ion-card-title>{{ficheInfo.nom_comlet}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
  </ion-content>
