<ion-header>
  <ion-toolbar>
    <ion-title>A propos de nous</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card class="quote">

    <img src="../../../../assets/img/apropos.jpg"/>
      <ion-card-content style="color: white !important;">
        Cette application est un espace d'échange entre les enseignants des écoles qui sont situés à Mahres et le psychologue du village SOS Mahres pour réduire les effets négatifs de la privation familiale.
cette application est faite par deux étudiantes de Institut Supérieur des Études Appliquées en Humanité de Mahdia - ISEAHM en collaboration avec les enseignants et l'équipe de village SOS pour venir en aide aux enfants.

        </ion-card-content>
  
        <img src="../../../../assets/img/apropos2.jpg"/>
  </ion-card>
</ion-content>
