<ion-header class="ion-no-border" >
  <ion-toolbar >
   
   <ion-tabs >
    <ion-tab-bar>
      <ion-tab-button tab="home" style="font-size:7px">
        <ion-img src="assets/img/logo.png" ></ion-img> 
         
      </ion-tab-button>
      <ion-tab-button tab="search" style="font-size:7px" >
        <ion-item >
          <ion-label style="color: #004247 !important;">
            <ion-icon size="medium"  name="notifications-sharp" style="margin-top: 15px;"></ion-icon>
            <ion-icon size="medium"   name="location-sharp" style="margin-left: 10px;margin-top: 15px;"></ion-icon>
          </ion-label>
        </ion-item>
      
      </ion-tab-button>


    </ion-tab-bar>
  </ion-tabs>
  
  </ion-toolbar>


</ion-header>


<ion-content  fullscreen>
  <!-- navbar -->
  <ion-segment scrollable value="accueil" mode="md" (ionChange)="segmentChanged($event)">
    <!-- <ion-segment scrollable value="accueil" mode="md"> -->
    <ion-segment-button value="accueil">
      <ion-label style="font-size: 10px;"  >Mûr</ion-label>
  
    </ion-segment-button>
    <ion-segment-button value="recherche">
      <ion-label style="font-size: 10px;">Rechercher</ion-label>
     
    </ion-segment-button>
  
  </ion-segment> 
<!-- content -->
<!-- <div> -->
<div *ngIf="selectedSegment== 'accueil' ">



<ion-card class="quote postActualite" style="background-color: #ffffff;">


    <ion-card-content style="color: #D36C6C !important;">
      <img src="assets/img/logo_sos.png"/>
    <!-- <textarea class="publier" type="text" placeholder="De nouveaux conseils ?" cols="26" rows="6"></textarea>
    <ion-button expand="block"  style="  --background : #D36C6C !important;">Publier</ion-button> -->
    <form [formGroup]="loginForm"  (ngSubmit)="submit()" >
     
        
          <!-- <ion-item class="ion-no-padding ion-no-margin" style="padding:0px !important;margin: 0px !important;"> -->
          
                   <ion-input  id="itemInput" name="titre"  formControlName="titre" placeholder="Titre" required> </ion-input>
           
          <!-- </ion-item> -->
          <ion-list style="margin: 8px;">
       
            <ion-input type="text" id="PostInput" name="description" formControlName="description" placeholder="Que voulez vous publier ?" required>
      
            </ion-input>
           
            <ion-grid class="pieceJointe">
        
              <ion-row class="ion-no-padding ion-no-margin ">
                <ion-col size="9">
                  
                  <p style="font-size: 10px;">{{filename}}</p>
        
                </ion-col>
                <ion-col size="3">
        
                  <input type="file" (change)="onFileSelected($event)" id="fileInput"  style="display: none;" />
                <label for="fileInput" icon-only ion-button>
                  <ion-icon  style="cursor: pointer; font-size: 20px;color:white;" name="image"></ion-icon>
                </label>
        
                </ion-col>
              </ion-row>
            </ion-grid>
            
          </ion-list>
            
     
    
        <ion-grid >
        
          <ion-row>
            <ion-col width-50 style="text-align: center">
            <ion-button [disabled]="!loginForm.valid" type="submit"   class="ion-button-class" expand="block" fill="solid" style="--background:#D36C6C">Publier</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
    
 
      
    </form>
      </ion-card-content>

  
</ion-card>

<div class="destinationJour" *ngFor="let endroit_obj of endroitsDestDuJour ">
 
    <ion-card>
      <ion-card-header>
        <div class="commentaires" *ngFor="let comment of endroit_obj.commentaire">
          <ion-row class="ion-no-padding ion-no-margin ">
           <ion-col size="2"  class="ion-no-padding ion-no-margin ">
             <img class="imgProfilPoster" src="{{endroit_obj.img_profil}}" />
           </ion-col>
           <ion-col size="8">
             <p class="nomProfil" style="color: #363535 !important;" >{{endroit_obj.nom_posteur}}</p>
            
           </ion-col>
       </ion-row> 
       
       </div>
        <ion-card-title class="bold">{{endroit_obj.nom}}</ion-card-title>
        <p class="titreAnnonce"  >{{endroit_obj.type_posteur}}</p>
        <ion-card-subtitle><ion-icon name="earth-sharp"></ion-icon> {{endroit_obj.datePost}}</ion-card-subtitle>
     
      </ion-card-header>
      <ion-card-content>
       <p style="height: 100px;overflow: hidden;"> {{endroit_obj.description}}</p>
      
        <span class="detail bold" (click)='onClickEndroit(endroit_obj.id)' style="cursor: pointer;">Lire la suite</span>
  <img  class="imagePost" src="{{endroit_obj.image}}" width="100%"/>
 <p style="color: #747EA0; font-size: 10px;"> {{endroit_obj.commentaire.length}} commentaires & {{endroit_obj.nbReaction}} réactions</p>

<!-- notation -->
<!-- ***************1***************** -->
 <ion-grid *ngIf="endroit_obj.avis==1">
  <ion-row>
    <ion-col size="2">
<ion-icon class="heart" name="heart-sharp" (click)="incrementReaction(endroit_obj)"></ion-icon>
    </ion-col>
    <ion-col size="2">
<ion-icon name="chatbubble-ellipses-sharp"  (click)="openModal(endroit_obj)"></ion-icon>
</ion-col>
<ion-col size="2">
<ion-icon name="arrow-redo-sharp"></ion-icon>
</ion-col>
<ion-col size="1">
<ion-icon name="star-sharp" style="color: #FFC107;"></ion-icon>
</ion-col>
<ion-col size="1">
<ion-icon name="star-sharp"></ion-icon>
</ion-col>
<ion-col size="1">
<ion-icon name="star-sharp"></ion-icon>
</ion-col>
<ion-col size="1">
<ion-icon name="star-sharp"></ion-icon>
</ion-col>
<ion-col size="1">
<ion-icon name="star-sharp"></ion-icon>
</ion-col>
</ion-row>
</ion-grid>
<!-- ***************2***************** -->
<ion-grid *ngIf="endroit_obj.avis==2">
  <ion-row>
    <ion-col size="2">
      <ion-icon class="heart" name="heart-sharp"   (click)="incrementReaction(endroit_obj)"></ion-icon>
    </ion-col>
    <ion-col size="2">
      <ion-icon name="chatbubble-ellipses-sharp"  (click)="openModal(endroit_obj)"></ion-icon>
</ion-col>
<ion-col size="2">
<ion-icon name="arrow-redo-sharp"></ion-icon>
</ion-col>
<ion-col size="1">
<ion-icon name="star-sharp" style="color: #FFC107;"></ion-icon>
</ion-col>
<ion-col size="1">
<ion-icon name="star-sharp" style="color: #FFC107;"></ion-icon>
</ion-col>
<ion-col size="1">
<ion-icon name="star-sharp"></ion-icon>
</ion-col>
<ion-col size="1">
<ion-icon name="star-sharp"></ion-icon>
</ion-col>
<ion-col size="1">
<ion-icon name="star-sharp"></ion-icon>
</ion-col>
</ion-row>
</ion-grid>
<!-- ***************3***************** -->
<ion-grid *ngIf="endroit_obj.avis==3" >
  <ion-row>
    <ion-col size="2">
      <ion-icon class="heart" name="heart-sharp"   (click)="incrementReaction(endroit_obj)"></ion-icon>
    </ion-col>
    <ion-col size="2">
      <ion-icon name="chatbubble-ellipses-sharp"  (click)="openModal(endroit_obj)"></ion-icon>
</ion-col>
<ion-col size="2">
<ion-icon name="arrow-redo-sharp"></ion-icon>
</ion-col>
<ion-col size="1">
<ion-icon name="star-sharp" style="color: #FFC107;"></ion-icon>
</ion-col>
<ion-col size="1">
<ion-icon name="star-sharp" style="color: #FFC107;"></ion-icon>
</ion-col>
<ion-col size="1">
<ion-icon name="star-sharp" style="color: #FFC107;"></ion-icon>
</ion-col>
<ion-col size="1">
<ion-icon name="star-sharp"></ion-icon>
</ion-col>
<ion-col size="1">
<ion-icon name="star-sharp"></ion-icon>
</ion-col>
</ion-row>
</ion-grid>
<!-- ***************4***************** -->
<ion-grid *ngIf="endroit_obj.avis==4">
  <ion-row>
    <ion-col size="2">
      <ion-icon class="heart" name="heart-sharp"   (click)="incrementReaction(endroit_obj)"></ion-icon>
    </ion-col>
    <ion-col size="2">
      <ion-icon name="chatbubble-ellipses-sharp" class="heart" (click)="openModal(endroit_obj)"></ion-icon>
</ion-col>
<ion-col size="2">
<ion-icon name="arrow-redo-sharp"></ion-icon>
</ion-col>
<ion-col size="1">
<ion-icon name="star-sharp" style="color: #FFC107;"></ion-icon>
</ion-col>
<ion-col size="1">
<ion-icon name="star-sharp" style="color: #FFC107;"></ion-icon>
</ion-col>
<ion-col size="1">
<ion-icon name="star-sharp" style="color: #FFC107;"></ion-icon>
</ion-col>
<ion-col size="1">
<ion-icon name="star-sharp"style="color: #FFC107;"></ion-icon>
</ion-col>
<ion-col size="1">
<ion-icon name="star-sharp"></ion-icon>
</ion-col>
</ion-row>
</ion-grid>
<!-- ***************5***************** -->
<ion-grid *ngIf="endroit_obj.avis==5">
  <ion-row>
    <ion-col size="2">
      <ion-icon class="heart" name="heart-sharp"  (click)="incrementReaction(endroit_obj)"></ion-icon>
    </ion-col>
    <ion-col size="2">
      <ion-icon name="chatbubble-ellipses-sharp"  (click)="openModal(endroit_obj)"></ion-icon>
</ion-col>
<ion-col size="2">
<ion-icon name="arrow-redo-sharp"></ion-icon>
</ion-col>
<ion-col size="1">
<ion-icon name="star-sharp" style="color: #FFC107;"></ion-icon>
</ion-col>
<ion-col size="1">
<ion-icon name="star-sharp" style="color: #FFC107;"></ion-icon>
</ion-col>
<ion-col size="1">
<ion-icon name="star-sharp" style="color: #FFC107;"></ion-icon>
</ion-col>
<ion-col size="1">
<ion-icon name="star-sharp" style="color: #FFC107;"></ion-icon>
</ion-col>
<ion-col size="1">
<ion-icon name="star-sharp" style="color: #FFC107;"></ion-icon>
</ion-col>
</ion-row>
</ion-grid>


<hr width="100%"  style=" background-color:  #00424746 !important; ">
<div class="commentaires" *ngFor="let comment of endroit_obj.commentaire">
   <ion-row class="ion-no-padding ion-no-margin ">
    <ion-col size="2"  class="ion-no-padding ion-no-margin ">
      <img class="imgProfilPoster" src="{{comment.image}}" />
    </ion-col>
    <ion-col size="9">
      <p class="nomProfil"  >{{comment.nom}}</p>
      <p class="commentaire">{{comment.commentaire}}  </p>
    </ion-col>
</ion-row> 



</div>
      </ion-card-content>
    </ion-card>
</div>
<div class="destinationJour" *ngFor="let endroit_obj of listActualite ">
  <!-- titre:string;
  nom_posteur:string;
  description : string;
  image :string;
  nbComment :number;
  nbReaction : number;
  commentaire:Array<Commentaire>;
  datePost: Date;
  role:string; -->
  <ion-card>
    <ion-card-header>
      <div class="commentaires" *ngFor="let comment of endroit_obj.commentaire">
        <ion-row class="ion-no-padding ion-no-margin ">
         <ion-col size="2"  class="ion-no-padding ion-no-margin ">
           <img class="imgProfilPoster" src="../../assets/img/profil.jpg" />
         </ion-col>
         <ion-col size="8">
           <p class="nomProfil" style="color: #363535 !important;" >{{endroit_obj.nom_posteur}}</p>
          
         </ion-col>
     </ion-row> 
     
     </div>
      <ion-card-title class="bold">{{endroit_obj.titre}}</ion-card-title>
      <p class="titreAnnonce"  >{{endroit_obj.role}}</p>
      <ion-card-subtitle><ion-icon name="earth-sharp"></ion-icon> {{endroit_obj.datePost}}</ion-card-subtitle>
   
    </ion-card-header>
    <ion-card-content>
     <p style="height: 100px;overflow: hidden;"> {{endroit_obj.description}}</p>
    
      <span class="detail bold" (click)='onClickEndroit(endroit_obj)' style="cursor: pointer;">Lire la suite</span>
<img  class="imagePost" src="{{endroit_obj.image}}" width="100%"/>
<p style="color: #747EA0; font-size: 10px;"> {{endroit_obj.nbComment}} commentaires & {{endroit_obj.nbReaction}} réactions</p>

<!-- notation -->
<!-- ***************1***************** -->
<ion-grid>
<ion-row>
  <ion-col size="2">
<ion-icon class="heart" name="heart-sharp" (click)="incrementReaction(endroit_obj)"></ion-icon>
  </ion-col>
  <ion-col size="2">
<ion-icon name="chatbubble-ellipses-sharp"  (click)="openModal(endroit_obj)"></ion-icon>
</ion-col>
<ion-col size="2">
<ion-icon name="arrow-redo-sharp"></ion-icon>
</ion-col>
<ion-col size="1">
<ion-icon name="star-sharp" style="color: #FFC107;"></ion-icon>
</ion-col>
<ion-col size="1">
<ion-icon name="star-sharp"></ion-icon>
</ion-col>
<ion-col size="1">
<ion-icon name="star-sharp"></ion-icon>
</ion-col>
<ion-col size="1">
<ion-icon name="star-sharp"></ion-icon>
</ion-col>
<ion-col size="1">
<ion-icon name="star-sharp"></ion-icon>
</ion-col>
</ion-row>
</ion-grid>



<hr width="100%"  style=" background-color:  #00424746 !important; ">
<div class="commentaires" *ngFor="let comment of endroit_obj.commentaire">
 <ion-row class="ion-no-padding ion-no-margin ">
  <ion-col size="2"  class="ion-no-padding ion-no-margin ">
    <img class="imgProfilPoster" src="{{comment.image}}" />
  </ion-col>
  <ion-col size="9">
    <p class="nomProfil"  >{{comment.nom}}</p>
    <p class="commentaire">{{comment.commentaire}}  </p>
  </ion-col>
</ion-row> 



</div>
    </ion-card-content>
  </ion-card>
</div>
<!-- <div class="destinationPertinente">
  <ion-grid >
    <ion-row>
      <ion-col size="1">
      
        <hr width="2px" style="height: 35px;margin-top: 14px;" color="white">
      </ion-col>
      <ion-col size="11">
        <h1 style="color: white;font-family: Aldhabi ;">Destinations pertinentes </h1>
      </ion-col>
      
    
    </ion-row>
    </ion-grid>

    <ion-slides>

      <ion-slide *ngFor="let endroit of endroits">
      <ion-card (click)='onClickEndroit(endroit.id)'>
        <img src="{{endroit.image}}" />
        <ion-card-header>
          <ion-card-title>{{endroit.nom}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid >
            <ion-row>
              <ion-col size="1">
                <ion-icon name="location-sharp"></ion-icon>
              </ion-col>
              <ion-col size="11">
                <p>{{endroit.adresse}}</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="1">
                <ion-icon name="time-sharp"></ion-icon>
              </ion-col>
              <ion-col size="11">
                <p> Ouvert . Ferme à {{endroit.horaire}}h</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="1">
                <ion-icon name="star"></ion-icon>
              </ion-col>
              <ion-col size="11">
                <p>Avis des visiteurs : {{endroit.avis}}/5</p>
              </ion-col>
            </ion-row>
            </ion-grid>
            
        </ion-card-content>
      </ion-card>
    
    </ion-slide>
    
  </ion-slides>
 </div> -->

</div>


<div *ngIf="selectedSegment== 'recherche' "  class="destinationPertinente">
  <ion-searchbar #search animated placeholder="Que cherchez vous ?" style="color:#004247;--background: white" debounce="500" (ionChange)="recupVille($event)"> </ion-searchbar>

        <ion-card  *ngFor="let endroit_obj of endroitsFiltre" (click)='onClickEndroit(endroit_obj.id)'>
          <ion-card-header>
            <div class="commentaires" *ngFor="let comment of endroit_obj.commentaire">
              <ion-row class="ion-no-padding ion-no-margin ">
               <ion-col size="2"  class="ion-no-padding ion-no-margin ">
                 <img class="imgProfilPoster" src="{{endroit_obj.img_profil}}" />
               </ion-col>
               <ion-col size="8">
                 <p class="nomProfil" style="color: #363535 !important;" >{{endroit_obj.nom_posteur}}</p>
                
               </ion-col>
           </ion-row> 
           
           </div>
            <ion-card-title class="bold">{{endroit_obj.nom}}</ion-card-title>
            <p class="titreAnnonce"  >{{endroit_obj.type_posteur}}</p>
            <ion-card-subtitle><ion-icon name="earth-sharp"></ion-icon> {{endroit_obj.datePost}}</ion-card-subtitle>
         
          </ion-card-header>
          <ion-card-content>
           <p style="height: 100px;overflow: hidden;"> {{endroit_obj.description}}</p>
          
            <span class="detail bold" (click)='onClickEndroit(endroit_obj.id)' style="cursor: pointer;">Lire la suite</span>
      <img  class="imagePost" src="{{endroit_obj.image}}" width="100%"/>
     <p style="color: #747EA0; font-size: 10px;"> {{endroit_obj.commentaire.length}} commentaires & {{endroit_obj.nbReaction}} réactions</p>
    
    <!-- notation -->
    <!-- ***************1***************** -->
     <ion-grid *ngIf="endroit_obj.avis==1">
      <ion-row>
        <ion-col size="2">
    <ion-icon class="heart" name="heart-sharp" (click)="incrementReaction(endroit_obj)"></ion-icon>
        </ion-col>
        <ion-col size="2">
    <ion-icon name="chatbubble-ellipses-sharp"  (click)="openModal(endroit_obj)"></ion-icon>
    </ion-col>
    <ion-col size="2">
    <ion-icon name="arrow-redo-sharp"></ion-icon>
    </ion-col>
    <ion-col size="1">
    <ion-icon name="star-sharp" style="color: #FFC107;"></ion-icon>
    </ion-col>
    <ion-col size="1">
    <ion-icon name="star-sharp"></ion-icon>
    </ion-col>
    <ion-col size="1">
    <ion-icon name="star-sharp"></ion-icon>
    </ion-col>
    <ion-col size="1">
    <ion-icon name="star-sharp"></ion-icon>
    </ion-col>
    <ion-col size="1">
    <ion-icon name="star-sharp"></ion-icon>
    </ion-col>
    </ion-row>
    </ion-grid>
    <!-- ***************2***************** -->
    <ion-grid *ngIf="endroit_obj.avis==2">
      <ion-row>
        <ion-col size="2">
          <ion-icon class="heart" name="heart-sharp"   (click)="incrementReaction(endroit_obj)"></ion-icon>
        </ion-col>
        <ion-col size="2">
          <ion-icon name="chatbubble-ellipses-sharp"  (click)="openModal(endroit_obj)"></ion-icon>
    </ion-col>
    <ion-col size="2">
    <ion-icon name="arrow-redo-sharp"></ion-icon>
    </ion-col>
    <ion-col size="1">
    <ion-icon name="star-sharp" style="color: #FFC107;"></ion-icon>
    </ion-col>
    <ion-col size="1">
    <ion-icon name="star-sharp" style="color: #FFC107;"></ion-icon>
    </ion-col>
    <ion-col size="1">
    <ion-icon name="star-sharp"></ion-icon>
    </ion-col>
    <ion-col size="1">
    <ion-icon name="star-sharp"></ion-icon>
    </ion-col>
    <ion-col size="1">
    <ion-icon name="star-sharp"></ion-icon>
    </ion-col>
    </ion-row>
    </ion-grid>
    <!-- ***************3***************** -->
    <ion-grid *ngIf="endroit_obj.avis==3" >
      <ion-row>
        <ion-col size="2">
          <ion-icon class="heart" name="heart-sharp"   (click)="incrementReaction(endroit_obj)"></ion-icon>
        </ion-col>
        <ion-col size="2">
          <ion-icon name="chatbubble-ellipses-sharp"  (click)="openModal(endroit_obj)"></ion-icon>
    </ion-col>
    <ion-col size="2">
    <ion-icon name="arrow-redo-sharp"></ion-icon>
    </ion-col>
    <ion-col size="1">
    <ion-icon name="star-sharp" style="color: #FFC107;"></ion-icon>
    </ion-col>
    <ion-col size="1">
    <ion-icon name="star-sharp" style="color: #FFC107;"></ion-icon>
    </ion-col>
    <ion-col size="1">
    <ion-icon name="star-sharp" style="color: #FFC107;"></ion-icon>
    </ion-col>
    <ion-col size="1">
    <ion-icon name="star-sharp"></ion-icon>
    </ion-col>
    <ion-col size="1">
    <ion-icon name="star-sharp"></ion-icon>
    </ion-col>
    </ion-row>
    </ion-grid>
    <!-- ***************4***************** -->
    <ion-grid *ngIf="endroit_obj.avis==4">
      <ion-row>
        <ion-col size="2">
          <ion-icon class="heart" name="heart-sharp"   (click)="incrementReaction(endroit_obj)"></ion-icon>
        </ion-col>
        <ion-col size="2">
          <ion-icon name="chatbubble-ellipses-sharp" class="heart" (click)="openModal(endroit_obj)"></ion-icon>
    </ion-col>
    <ion-col size="2">
    <ion-icon name="arrow-redo-sharp"></ion-icon>
    </ion-col>
    <ion-col size="1">
    <ion-icon name="star-sharp" style="color: #FFC107;"></ion-icon>
    </ion-col>
    <ion-col size="1">
    <ion-icon name="star-sharp" style="color: #FFC107;"></ion-icon>
    </ion-col>
    <ion-col size="1">
    <ion-icon name="star-sharp" style="color: #FFC107;"></ion-icon>
    </ion-col>
    <ion-col size="1">
    <ion-icon name="star-sharp"style="color: #FFC107;"></ion-icon>
    </ion-col>
    <ion-col size="1">
    <ion-icon name="star-sharp"></ion-icon>
    </ion-col>
    </ion-row>
    </ion-grid>
    <!-- ***************5***************** -->
    <ion-grid *ngIf="endroit_obj.avis==5">
      <ion-row>
        <ion-col size="2">
          <ion-icon class="heart" name="heart-sharp"  (click)="incrementReaction(endroit_obj)"></ion-icon>
        </ion-col>
        <ion-col size="2">
          <ion-icon name="chatbubble-ellipses-sharp"  (click)="openModal(endroit_obj)"></ion-icon>
    </ion-col>
    <ion-col size="2">
    <ion-icon name="arrow-redo-sharp"></ion-icon>
    </ion-col>
    <ion-col size="1">
    <ion-icon name="star-sharp" style="color: #FFC107;"></ion-icon>
    </ion-col>
    <ion-col size="1">
    <ion-icon name="star-sharp" style="color: #FFC107;"></ion-icon>
    </ion-col>
    <ion-col size="1">
    <ion-icon name="star-sharp" style="color: #FFC107;"></ion-icon>
    </ion-col>
    <ion-col size="1">
    <ion-icon name="star-sharp" style="color: #FFC107;"></ion-icon>
    </ion-col>
    <ion-col size="1">
    <ion-icon name="star-sharp" style="color: #FFC107;"></ion-icon>
    </ion-col>
    </ion-row>
    </ion-grid>
    
    
    <hr width="100%"  style=" background-color:  #00424746 !important; ">
    <div class="commentaires" *ngFor="let comment of endroit_obj.commentaire">
       <ion-row class="ion-no-padding ion-no-margin ">
        <ion-col size="2"  class="ion-no-padding ion-no-margin ">
          <img class="imgProfilPoster" src="{{comment.image}}" />
        </ion-col>
        <ion-col size="9">
          <p class="nomProfil"  >{{comment.nom}}</p>
          <p class="commentaire">{{comment.commentaire}}  </p>
        </ion-col>
    </ion-row> 
    
    
    
    </div>
          </ion-card-content>
        </ion-card>
   
      
   




</div>
</ion-content>

