ion-tabs, ion-toolbar, ion-header{
  --ion-background-color: #ffffff !important;
  --background: #ffffff!important;

}


ion-content{
  --ion-background-color: #0097C1 !important;
}

ion-tab-button {

  color:#004247 !important;
}
ion-tab-button{
  ion-img{
    margin-top: 20px;
      width: 110px;
   
  }
}


ion-segment{
  --background: #ffffff !important;
  border-radius : 0 !important;
  color: white !important;
  padding-top: 18px;
  ion-segment-button {
      --color:#004247 !important;
      // --color-checked: #FCCE06 !important;
     --background-hover: #004247 !important;
     --background-focused : #004247 !important;
    --indicator-color : #D36C6C !important;
    --color-checked :#D36C6C !important;
  }
 
}
.recommandation, .destinationPertinente{
  ion-card{
    --background: white !important;
  }
  
  ion-card-content{
    color: #004247 !important;  
   text-align: start;
  }
  ion-card-title{
  
    color: #D36C6C !important;
  }
}
.publier{
  border-radius: 12px;
  // border: 1px solid black;
  border: none;
 padding: 4px;
  box-shadow: 0px 0px 5px rgb(35, 34, 34);
}

.MARGIN{
  margin-right: 25px !important;
}
.quote{
 ion-card-content{
  background-color: #ffffff !important;
  border-radius: 12px;
  position: relative;
  top: -14px;
 }

}
.destinationJour{
  ion-card{
    --background: white !important;
   // text-align:justify
  }
}
ion-card-title{
  color: #D36C6C;
  font-size:18px ;
}
ion-card-subtitle{
  color: #BABDC9;
  font-size:12px ;
}
.detail{
  color: #D36C6C;
  text-decoration: underline;
  // position: absolute;
 margin-left: 80px;


}
.bold{
  font-weight: bold;
}
.imagePost{
  border-radius: 12px;
}


  .imgProfilPoster{
    color: #004247;
      border-radius: 300px ; 
      //  width: 30px ;
      //  height: 30px;
      //  margin-top: 10px;
      //  margin-left: 10px;
   };
.entete{
  --border-color:#6A6A6A;
  padding: 0;
  margin: 0;
}
.nomProfil{
  color: #004247;
  font-size: 11px;
  font-weight: bold;
 // margin-left: 7px;
}
.commentaire{
  font-size: 10px;
  color: #7A8FA6;
}
.heart:hover{
  color:#D36C6C;
  cursor: pointer;
}
.heart::after{
  color: #D36C6C;
}
.heart:focus{
  color: #D36C6C;
}


.postActualite{
// border: 2px solid #D36C6C;
//    padding: 10px;
color: white;
  // margin: 20px  15px;
  
  .imgProfilPoster{
      border-radius: 300px ; 
       width: 30px ;
       height: 30px;
       margin-top: 10px;
       margin-left: 10px;
   };
.entete{
  --border-color:#6A6A6A;
  padding: 0;
  margin: 0;
};
 
  #itemInput {
       border-radius: 40px 40px 40px 40px;
       background-color: #0097C1;
      // height: 27px;
      // width: 170px;
        padding: 0 10px !important;
       color: white ;
       font-size: 12px;
       margin-left: 5px;
     // margin-top: 8px;
      //margin-right: 10px;

   }


 #PostInput{
  //background-color: #2B2B2B;
  padding: 0 10px !important;
  height: 60px; 
  --padding-top:0;
  color: white ;
  font-size: 12px; 
  margin-top: 10px;
  border-radius: 5px 5px 0 0 ;
 }   
}  
.titreAnnonce{
  font-weight: bold;
// position:absolute;
// right: 0;
color: rgb(255, 255, 255);
font-size: 11px;
ion-item{
  width:100%;
  height:100%;
 
}

}